@media (max-width: 1200px)
	.mobile_item
		width: 300px
	.footer
		&_right	
			flex-direction: column
			justify-content: center
			align-items: flex-end
			margin-top: 0
			padding-right: 20px
		&_center 
			width: 37%
	.promo_header
		font-size: 50px
	.reasons_text
		width: 300px













